<AsmntFile file_id="4">
	<AssessmentStats class_total="1" date="1424105747" duration="0" error_status="0" language_type="2" line_total="66" method_total="5" total_call_sites="44" total_call_sites_informational="0" total_call_sites_not_vulnerable="20" vdensity="38970.149254"/>
	<Finding data_id="1"/>
	<Finding data_id="3"/>
	<Finding data_id="4" trace="1,3,4,25.,19...,8,13,14.,21..."/>
	<Finding data_id="4" trace="1,3,4,25.,19...,12,6,13,14.,21...."/>
	<Finding data_id="4" trace="2,7,25.,19..,12,6,13,14.,21...."/>
	<Finding data_id="4" trace="9,25.,19.,13,14.,21.."/>
	<Finding data_id="5" trace="1,3,4,25.,19...,8,13,16.,22..."/>
	<Finding data_id="5" trace="1,3,4,25.,19...,12,6,13,16.,22...."/>
	<Finding data_id="5" trace="2,7,25.,19..,12,6,13,16.,22...."/>
	<Finding data_id="5" trace="9,25.,19.,13,16.,22.."/>
	<Finding data_id="6" trace="1,3,4,25.,19...,8,13,17.,23..."/>
	<Finding data_id="6" trace="1,3,4,25.,19...,12,6,13,17.,23...."/>
	<Finding data_id="6" trace="2,7,25.,19..,12,6,13,17.,23...."/>
	<Finding data_id="6" trace="9,25.,19.,13,17.,23.."/>
	<Finding data_id="7"/>
	<Finding data_id="8"/>
	<Finding data_id="9" trace="1,3,4,25.,19...,8,13,15.,24..."/>
	<Finding data_id="9" trace="1,3,4,25.,19...,12,6,13,15.,24...."/>
	<Finding data_id="9" trace="2,7,25.,19..,12,6,13,15.,24...."/>
	<Finding data_id="9" trace="9,25.,19.,13,15.,24.."/>
</AsmntFile>
